body {
  display: grid;
  grid-template-columns: 10% 30% 10% 40% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    " . list1 . list2 . "
    " . list3 . list4 . "
    " . list5 . . . ";
  width: 50%;
  margin: auto;
  border: 0.1em solid cornflowerblue;
}

header {
  grid-area: header;
  height: 5em;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  width: 100%;
  padding: 0.25em 0.5em 0.25em 0.5em;
  background-color: cornflowerblue;
  border: none;
  border-radius: 0.3em;
  margin-right: 1em;
  font-size: 1.2em;
  color: white;
}

.list1 {
  grid-area: list1;
  margin-block: 2em;
}
.list2 {
  grid-area: list2;
  margin-block: 2em;
  align-self: center;
  height: 2em;
  border-radius: 0.3em;
}
.list3 {
  grid-area: list3;
  margin: 0 0 0 1em;
  padding: 0;
}

p {
  font-size: 1.2em;
}

.list4 {
  grid-area: list4;
}
.list5 {
  grid-area: list5;
  margin-block: 2em;
}
